<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mara</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Saira+Extra+Condensed:100" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="angular-bind-html-compile.min.js"></script>

    <link rel="stylesheet" href="index.css">

</head>

<body class="color1" ng-app="blogApp" ng-controller="blogCtrl">

    <div class="py-3 color2">
        <h1 class="display-1 big-font text-center">Blog Roll</h1>
    </div>

    <div id="post" ng-repeat="post in posts">
        <div class="container container-max-width my-4">
            <h1 class="text-right">{{post.titulo}}</h1>
            <h6 class="text-right">
                <time datetime="{{post.data}}">{{post.data}}</time>
            </h6>
            <p class="lead text-right">{{post.subtitulo}}</p>
        </div>
        <div ng-if="post.urlImagem">
            <div class="my-4 post-image img-round" style="background-image: url('{{ post.urlImagem }}');"></div>
        </div>
        <div class="container container-max-width my-4">
            <div bind-html-compile="post.texto"></div>
            <hr>
        </div>
    </div>

    <footer class="fixed-bottom color2">
        <h3 class="text-right">Copyright @ 2017</h3>
    </footer>

</body>

<script>
    angular.module('blogApp', ['angular-bind-html-compile']).controller('blogCtrl', function ($scope, $http) {
        $http.get("https://rest-on-demand.herokuapp.com/api/Post/")
            .then(function (response) {
                $scope.posts = response.data;
            });
    });
</script>

</html>